.header-container{
    margin-bottom: 36px;
}

.search-bar{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
}

.search-bar h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    white-space: nowrap
}

.search-bar input{
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #e4e4e4;
    font-size: 15px;
    background-color: #eeeeee;
    transition: 0.5s;
}

.search-bar input:focus{
    width: 100%;
}

.tools{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sorting{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sorting select{
    padding: 4px;
    font-size: 14px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    background-color: #eeeeee;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    /* 입력폼 전체 크기 조절 */
    width: 60%;
    height: 60%;
    /* 굵은 검은색 테두리 추가 */
    border: 3px solid black;
    /* 기타 스타일 유지 */
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    display: flex; /* 입력 칸과 버튼을 한 줄에 배치 */
    flex-direction: column; /* 세로 방향 배치 */
    align-items: center; /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* x버튼을 절대위치로 설정 */
    top: 10px; /* 상단에서부터의 거리 지정 */
    right: 10px; /* 우측에서부터의 거리 지정 */
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.clickable-text {
    text-decoration: underline;
    cursor: pointer;
}
.input-row {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
    width: 90%; /* 컨테이너의 너비를 조절 */
    margin: auto; /* 컨테이너를 중앙에 위치시키기 */
}

.input-row input,
.input-row button {
    width: 45%; /* 입력 칸과 버튼의 크기를 동일하게 조절 */
}

button {
    /* 기타 스타일 유지 */
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width : 200px;
    border-radius: 5px;
}

button:hover {
    background-color: #1885f2; 
}

/* 모든 입력 칸에 검은색 테두리 추가 */
input {
    border: 1px solid #ccc !important;
    padding: 10px;
    width : 200px;
    border-radius: 10px;
}
